# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/
*.exe
*.dmg
*.zip
*.deb
*.rpm

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Database (Local data should not be pushed)
*.sqlite
*.db
*.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
